@import "../../../css/variaveis.scss";
@import "../../../css/mixins.scss";

#secProdutos {
    padding-top: 0;
    @include bp_tablet {
        padding-top: 0;


    }
    @include bp_mobile {
        padding-top: 0;

        
    }

    .content {
        h2 {
            margin: 20px auto;
            text-align: right;
            padding: 10px 20px;
            border-radius: 10px;
            background-color: $cor_principal;
            color: $cor_fonteBranca;
            display: inline-block;
            
        }

        .divProdutos {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;

            @include bp_tablet {
                grid-template-columns: repeat(2, 1fr);
            }

            @include bp_mobile {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }
}