@import "./variaveis.scss";
@import "./mixins.scss";

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.container1 {
  display: flex;
  justify-content: center;

  .content {
    width: 100%;
    max-width: $largura_maxima;
    padding: 0 70px;
  }
}

h1 {
  font-size: 52px;
  margin-bottom: 30px;

  @include bp_tablet {
    font-size: 32px;
    line-height: 2rem;
  }

  @include bp_mobile {
    // font-size: ;
  }
}

p,
a {
  font-size: 16px;
  font-weight: 500;
  // color: $cor_fontePretaClara;
  margin-bottom: 10px;

  @include bp_tablet {
    font-size: 14px;
  }

  @include bp_mobile {
    // font-size: ;
  }
}

hr {
  width: 100%;
  margin: 100px auto;
  color: red;
  height: 1px;
  background-color: $cor_fontePretaClara;
  border-radius: 10px;
  opacity: 0.8;
}

section {
  margin: 0 auto;

  padding: 100px 70px;
  width: 100%;

  .content {
    margin: 0 auto;
    width: 100%;
    max-width: $largura_maxima;
  }

  @include bp_tablet {
    padding: 100px 30px;
  }

  @include bp_mobile {
    padding: 100px 20px;
  }
}

main {
  position: relative;
}

#divCArrinhoAbsolute {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  @include a_botao;
  position: fixed;
  bottom: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 800;
  background-color: $cor_principal;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  p {
    margin: 0;
    font-weight: 600;
    color: white;
    
  }

  .div-icon {
    display: flex;
    gap: 10px;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
    width: 30px;
    aspect-ratio: 1/1;
    padding: 8px;
  

    .icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 30px;
    }
  }

  @include bp_tablet {
      p {
        font-size: 10px;
      }
      .div-icon {
        width: 0;
        border-radius: 50%;
      }

    }
}


.main-carrinho-ativo {
  
}
main {
  z-index: 0;
}

h2 {
  font-size: 16px;
}