@import "./variaveis.scss";


// componentes
@mixin a_botao{
    color:  $cor_fonteBranca;
    font-weight: 600;
    font-size: 16px;
    background-color: $cor_principal;
    display: inline-block;
    border: 1px solid $cor_bordaClara;
    padding: 15px 24px;
    border-radius: 15px;
    margin: 0;
    cursor: pointer;
    @content;
}

@mixin a_botaoTransparente{
    @include a_botao();
    background-color: transparent;
    color: $cor_fontePretaClara;
    @content;
}


// mixins de responsividade
@mixin bp_tablet {
    @media (max-width: $bg_tablet) {
        @content
    }
}

@mixin bp_mobile {
    @media (max-width: $bg_mobile) {
        @content
    }
}