@import "./variaveis.scss";


// componentes
@mixin a_botao{
    color:  $cor_fonteBranca;
    font-weight: 600;
    font-size: 16px;
    background-color: $cor_principal;
    display: inline-block;
    border: 1px solid $cor_bordaClara;
    padding: 15px 24px;
    border-radius: 15px;
    margin: 0;
    cursor: pointer;
    transition: 200ms ease-in-out;

    &:hover {
        scale: 0.99;
        filter: brightness(90%)
    }

    @content;

}

@mixin a_botaoTransparente{
    @include a_botao();
    background-color: transparent;
    color: $cor_fontePretaClara;
    @content;
}
@mixin a_botaoBranco {
    @include a_botao{
        background-color: $cor_fonteBranca;
        color: $cor_fontePreta;
        &:hover {
            background-color: $cor_principal;
            color: $cor_fonteBranca;
        }
    }
}

// mixins de responsividade
@mixin bp_tablet {
    @media (max-width: $bg_tablet) {
        @content
    }
}

@mixin bp_mobile {
    @media (max-width: $bg_mobile) {
        @content
    }
}