// cores
$cor_principal: #FF7629;
$cor_fontePreta: #131313;
$cor_fontePretaClara: #696969;
$cor_bordaClara: #E7E7E7;
$cor_fonteBranca: #fff;


// breakpoints   
$largura_maxima: 1200px;
$bg_tablet: 900px;
$bg_mobile: 750px;