@import "../../../css/variaveis.scss";
@import "../../../css/mixins.scss";

#secInicio {
  background-image: url("/backgroundInicio.png");
  background-size: cover;

  border-radius: 0 0 30px 30px;

  .content {
    .div-flex {

      display: grid;
      grid-template-columns: 1fr 1fr;

      @include bp_tablet {
        grid-template-columns: 1fr;
      }
      .texts {
        color: $cor_fonteBranca;

        @include bp_tablet {
          text-align: center;
        }

        .bem-vindo {
          color: $cor_principal;
          display: inline-block;
          text-transform: uppercase;
          font-weight: 600;
          background-color: $cor_fonteBranca;
          border-radius: 8px;
          padding: 8px;
        }

        h1{
          line-height: 3.5rem;
        }
      }
    }
  }

  .botoes {
    display: flex;
    justify-content: start;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;

    .b1 {
      @include a_botao;
    }
    .b2 {
      @include a_botaoTransparente;
    }
    @include bp_tablet {
      flex-direction: column;
    }
  }

  .ver-mais {
    font-weight: 600;
    color: $cor_fonteBranca;
    margin-top: 20px;
    opacity: 0.8;
  }
}
