@import "../../css/variaveis.scss";
@import "../../css/mixins.scss";

#secCarrinho {
  padding: 70px 40px;
  position: fixed;
  background-color: $cor_fonteBranca;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: -100%;
  transition: 200ms ease-in-out;
  z-index: 900;
  opacity: 0;
  overflow: hidden;
  visibility: hidden;

  &.secCarrinhoAtiva {
    left: 0;
    opacity: 1;
    overflow: scroll;
    visibility: visible;
  }

  h2 {
    text-align: center;
    background-color: $cor_principal;
    padding: 10px;
    border-radius: 10px;
    color: $cor_bordaClara;
    margin-bottom: 20px;
  }

  .content {
    width: 100%;
  }

  ul {
    padding-bottom: 150px;
  }

  .bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: $cor_fonteBranca;
    padding: 20px;
    border-radius: 10px 10px 0 0;
    width: 100%;
    text-align: center;
    gap: 20px;
    

    .botoes {
      display: flex;
      justify-content: center;
      gap: 10px;
      flex-direction: column;
    }

    .div-total {
      display: flex;
      justify-content: center;
      gap: 20px;

      p {
        font-family: 600;

        opacity: 0.8;
      }
    }

    .div-flex {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
      justify-content: center;

      a {
        display: block;
        width: 100%;
        @include a_botaoTransparente;
        font-size: 12px;
      }

      .limpar {
        color: red;
      }
      
    }

    .proximo {
      @include a_botao;
      display: flex;
      justify-content: center;
      gap: 20px;
      color: $cor_fonteBranca;
      font-size: 14px;
    

      p {
        font-weight: 600;
        font-size: 12px;

        margin: 0;
      }

      .div-icon {
        position: relative;

        .icon {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          font-size: 1.5rem;
        }
      }
    }

    .continuar {
      @include a_botaoTransparente;
      font-size: 12px;
      color: $cor_fontePreta;

    }
  }

  @include bp_tablet {
    padding: 100px 30px;
  }

  @include bp_mobile {
    padding: 100px 20px;
  }
}

